body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: #A3A3A3;
  font-size: 14px;
  word-spacing: 0px;

}

h1 {
  text-align: center;
  font-weight: lighter;
}

section {
  background-color: white;
  padding: 15px;
  /*border: 1px solid grey;*/
  margin: 0px;
  background-color: #E2EEF4;
}



.row1, .row2, .row3, .input {
  display: block;
}


.input {
  width: auto;
}

input[type="text"] {
  box-sizing: border-box;
  border: none;
}

#submit {
  background-color: #8FBC5F;
  padding: 10px 40px 10px 40px;
  flex-wrap: nowrap;
  color: white;
  width: 40%;
  border-radius: 3px;
  font-size: 16px;
}

.btn {
  padding: 10px;
  text-align: center;
}

span {
  font-weight: bolder;
  font-size: 12px;
}

.lab {
  display: inline-block;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lab span {
  padding: 3%;
}

.thirds {
  display: inline-block;
  width: 33%
}

.thirds span {
  padding: 4.5%;
}

.fourths {
  display: inline-block;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fourths span {
  padding: 5.5%;
}

.row1 {
  border-top: 1px solid lightgrey;
}

.row1, .row2, .row3, .btn {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.container {
  color: grey;
  padding: 0;
}

.enter {
  padding: 18px;
  flex-grow: 1;
  flex-basis: auto;
  color: #A3A3A3;
  display: inline-block;
}

.name, .company, .phone, .email, .avail, .skills, .years, .color, .lang {
  width: 99%;
}

/*.nm {
  border-right: 1px solid lightgrey;
}*/
